
@{
    ViewData["Title"] = "Nosotros";
}

<head>
    <!-- Incluir la fuente de Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


    <!-- Incluir Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif;">

    <div>

        <div class="text-center mt-4 fw-bold fs-5 ">

            <h2>Nosotros</h2>

        </div>

        <div class="row align-items-center mt-5 mb-5">

            <div class="col-md-6">

                <p>
                    En InterState, nos especializamos en la venta de autos usados, ofreciendo a nuestros clientes una plataforma segura, confiable y fácil de usar.<br><br>

                    Nuestro objetivo es conectar a vendedores y compradores de manera eficiente, garantizando transparencia en cada transacción.<br><br>

                    Contamos con una amplia variedad de vehículos a precios competitivos, asegurando que encuentres el auto ideal para ti.<br><br>

                    Nos enorgullece brindar un servicio de calidad, con atención personalizada y compromiso en cada paso del proceso.<br><br>
                </p>

                <p class="fw-bold fs-3">Consigue tu primer auto con nosotros</p>

            </div>

            <div class=" col-md-6 text-center" style="overflow: hidden;">

                <img src="~/Images/Fotolocal.jpg" class="img-fluid" />

            </div>

        </div>

    </div>

</body>




